@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.Background-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 20vh;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin:25% 10% 10%;
  top:10%;
  left:10%;
}

.post{
    color: black;
    text-align: center;
    margin-bottom:2%;
    background-color: aliceblue;
    padding:15px 15px 35px 15px;
}

.div-post-list{
    font-family: 'Open Sans', sans-serif;
    color:black;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
}

.post-image{
width: 100%;
padding: 0px 0px 0px 0px;
height: 10%;
}

.description{

}

.headline{
    
}